*{
    margin: 0;
    padding: 0;
}

ul{
    color: blue;
    list-style-type: none;
}

.b1{
    background-color: yellow;
}

#it1{
    background-color: aqua;
}

div h3{
    color: red;
}

body > h3{
    color: aqua;
}
